/*===============================================*/
/*	Home page  */
/*===============================================*/

.center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%; 
  text-align: center;

  h1 { margin-bottom: 30px; }

  .logo {
    margin-bottom: 20px;
    width: 60px;
  }
  
  .desc {
    margin: 0 0 30px;
    padding: 25px 25px;
    width: 100%;
    background-color: gold; 
    

    p {
      margin: 0;
      font-size: 18px;
    }
    
    span {
      font-size: 13px;
      font-style: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }

  .tools {
    color: tan;
    font-size: 14px;

    @include mq(sm) { font-size: 16px; }
  }
  
  .js-message { 
    color: lightslategray; 
    font-size: 14px;

    @include mq(sm) { font-size: 16px; }
  }
}