doctype 
html(lang="en")
  
  //- Include head
  include includes/head

  ="\n"
  body 

    .center-page 
      object.logo(data="images/box.svg" type="image/svg+xml")
      h1 psd &#8674; html

      .desc 
        p Html development environment &#8727; 
          span by 
          | nb 
          
      .tools 
        p Pug, Scss, ES6, Browser-Sync, jQuery, Bootstrap v4-beta.2 
    
      .js-message

    //- Include scripts
    include includes/scripts